<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../app-media/app-media-devices.html">
<link rel="import" href="../app-media/app-media-stream.html">
<link rel="import" href="../app-media/app-media-video.html">    

<link rel="import" href="../iron-iconset-svg/iron-iconset-svg.html">

<link rel="import" href="../paper-fab/paper-fab.html">    
<link rel="import" href="../paper-ripple/paper-ripple.html">    

<link rel="import" href="../granite-qrcode-decoder/granite-qrcode-decoder.html">   
<link rel="import" 
    href="../granite-app-media-periodic-image-capture/granite-app-media-periodic-image-capture.html">


<dom-module id="granite-qrcode-scanner">
  <template>
    <style>
      :host {
        display: block;
      }

      [hide] {
        display: none !important;
      }

      #videoWindow {
        position: relative;
      }
      #videoWindow #buttonRow {
        position: absolute;
        bottom: 1em;
        left: 0;
        right: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

      }
      #videoWindow #targetSquare {
        position: absolute;
        left: 5em;
        right: 5em;
        top: 4em;
        bottom: 6em;
        border: solid 5px rgba(200,200,200,0.5);
      }

      .media {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
      }
    </style>
    <div class="media">

        <app-media-devices
            id="mediaDevices"
            on-devices-changed="_onDevicesChanged"
            on-selected-device-changed="_onSelectedDeviceChanged"
            devices="{{devices}}"
            selected-device="{{device}}"
            kind="videoinput"></app-media-devices>

        <app-media-stream
            video-device="[[device]]"
            video-constraints='{"width": {"ideal": 480, "max": 480}, "height": {"ideal": 480, "max": 480}}'
            stream="{{videoStream}}"
            on-active-changed="_onActiveChanged"
            on-stream-changed="_onStreamChanged"
            active></app-media-stream>

        <div id="videoWindow">

          <app-media-video
              id="video"
              source="[[videoStream]]"
              on-click="record"
              autoplay
              muted></app-media-video>

          <div id="targetSquare"></div>

          <paper-ripple 
              id="ripple" 
              noink></paper-ripple>
          <template is="dom-if" if="[[!active]]">
            <div id="buttonRow">
                <paper-fab icon="granite-qrcode-scanner-icons:photo-camera" on-click="_takePhoto"></paper-fab>
          </template>
        </div>

        </div>
        
        <granite-app-media-periodic-image-capture
            id="imageCapture"
            capture="[[active]]"
            frequency="[[frequency]]"
            fill-light-mode="[[fillLightMode]]"
            stream="[[videoStream]]"
            focus-mode="single-shot"
            last-photo="{{photo}}"
            image-width="480"
            image-height="480"
            on-last-photo-changed="_onLastPhotoChanged"
            debug="[[debug]]"></granite-app-media-periodic-image-capture>


        <granite-qrcode-decoder
            last-decoded-data="{{data}}"
            blob="[[photo]]" 
            on-qrcode-decoded="_onQrcodeDecoded"></granite-qrcode-decoder>

        <iron-iconset-svg name="granite-qrcode-scanner-icons" size="24">
          <svg>
            <defs>              
              <g id="photo-camera"><circle cx="12" cy="12" r="3.2"></circle><path d="M9 2L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3.17L15 2H9zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"></path></g>
            </defs>
          </svg>
        </iron-iconset-svg>    
    </div>
  </template>

  <script>
    /**
     * `granite-qrcode-scanner`
     * An element to scan a QR Code using the device camera
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class GraniteQrcodeScanner extends Polymer.Element {
      static get is() { return 'granite-qrcode-scanner'; }


      /**
       * Fired when a QR-Code is decoded.
       *
       * @event qrcode-decoded
       */

      static get properties() {
        return {
          /**
          * Number of captured images per second
          */
          frequency: {
            type: Number,
            value: 10,
          },
          /**
          * If true, the element captures `frequency` images per second
          * If false, capture will be done with a button
          */
          active: {
            type: Boolean,
            value: false,
          },
          /**
          * The last decoded QRCode
          */
          data: {
            type: String,
            notify: true,
            value: '',
          },
          /**
          * If true, send logs to the console
          */
          debug: {
            type: Boolean,
            value: false,
          },
        };
      }

      _takePhoto(evt) {
        if (this.debug) {
          console.log('[granite-qrcode-scanner] _takePhoto');
        }
        this.$.ripple.simulatedRipple();
        this.$.imageCapture.takePhoto();
      }

      _onLastPhotoChanged(evt) {
        if (this.debug) {
          console.log('[granite-qrcode-scanner] _onLastPhotoChanged', evt);
        }
      }

      _onQrcodeDecoded(evt) {
        if (this.debug) {
          console.log('[granite-qrcode-scanner] _onQrcodeDecoded', evt);
        }
        this.dispatchEvent(new CustomEvent('qrcode-decoded', {detail: evt.detail}));
      }
    }

    window.customElements.define(GraniteQrcodeScanner.is, GraniteQrcodeScanner);
  </script>
</dom-module>
